doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.2.0/pure-min.css');
		link(rel='stylesheet', href='/stylesheets/style.css');
		script(src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js");

	body
		div#layout.pure-g-r
			div#main.pure-u
				div.pure-u-1
					block content